# 1.3. Textos o Hilos de caracteres

Consisten en secuencias de caracteres dentro de las comillas. En Python las variables _string_ se pueden declarar indistintamente usando comillas simples('') o dobles("")

In [4]:
'Esto es un hilo de texto'

'Esto es un hilo de texto'

In [6]:
'Este texto es uno distinto'

'Este texto es uno distinto'

In [14]:
name= 'Marlon'
lastname= "Mantilla"
profession= 'Electrical Engineer'

In [8]:
nombre, lastname, profession

('Marlon', 'Mantilla', 'Electrical Engineer')

In [15]:
print(f"('My name is {name} {lastname}') and I'm a {profession}")

('My name is Marlon Mantilla') and I'm a Electrical Engineer

In [16]:
type(name)

str

In [17]:
print(name)
print(lastname)

Marlon
Mantilla

# Function _print()_

Esta función nos permite mostrar por pantalla un texto y editar su presentacuón con tabulaciones y saltos de línea

In [18]:
print("Una cadena \tseparada por una tabulación")

Una cadena 	separada por una tabulación

In [19]:
print('Una cadena en una línea \n Una cadena en otra línea')

Una cadena en una línea
 Una cadena en otra línea

Para que la función print nos muestre una cadena sin procesar , debemos indicarle que la cadena es de tipo crudo, agregándo la letra _r_ antes de abrir comillas

In [20]:
print("C:\name\name_2")

C:
ame
ame_2

In [21]:
print(r"C:\name\name_2")

C:\name\name_2

También podemos indicarle que deseamos mostrar el texto en varial líneas de la siguiente forma: Haciéndo uso de las comillas dobles _tres veces_

In [23]:
print("""Línea 1 es esta
y aquí tenemos la línea 2
y esta es la 3
y así...
así...
al infinito..""")

Línea 1 es esta
y aquí tenemos la línea 2
y esta es la 3
y así...
así...
al infinito..